
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Passions+Conflict&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    color: #d9c2a3;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
text-align: center;
}
main section {
    text-align: center ;
}
#background {
    height: 725px;
    background-color: #d9c2a3;
    margin-bottom: 50px;
}
body {
    background-color: #f7f0f0;
}
header {
    background-color: #293829;
}
a#logo_link img.logo {
    width: 72px;
}
#hero #hero-box img#hero-img {
    width: 100%;  
    border: 1px solid rgb(197, 179, 179);
}
#hero-msg h1.home-title {
    font-weight: bold;
    text-align: center;
    font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
    font-size: 2em;
} 
.book:hover, .join:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(214, 216, 185);
}
.msg h2 {
    color: rgb(255, 255, 255);
}
.msg p {
    color: rgb(255, 255, 255);
    padding: 50px;
    font-size: 1.2em;
}
#logo_link {
    width: 80px;
}
main.home-grid section.msg {
    background-color: #575e56;
}
section.msg a.join, .button-box a.book {
    font-weight: bold;
    color: black;
    background-color: #d9c2a3;
    text-decoration: none;
}
footer {
    background-color: #575e56;
    padding-left: 15px;
    margin-top: 15px;
}
footer p, footer p a {
    color: #d9c2a3;
    text-decoration: none;
}
footer p a:hover {
    color: rgb(235, 235, 235);
    background-color: black;
    text-decoration: underline;
}
section.rivers-card h2 {
    text-transform: capitalize;
}
.card-img {
    border: 10px solid #d9c2a3;
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
main section img {
    box-sizing: border-box;
    border: 10px;
    border-radius: 5px;
}
.msg {
    background-color: #6f7364;
    line-height: 2.5em;
}