

#background {
    height: 725px;
}
body{
    background-color: #fcfbfb;
}
header {
    background-color: rgba(20,30,13,0.7);
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}
  
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer {
    font-size: 1.2em;
    background-color: rgba(20,30,13,0.7);

}

footer p a:hover{
    text-decoration: underline;
}
main, section, img, p {
    margin: 0 auto;
    align-items: center;
}