#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a:hover {
    color: #d9c2a3;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
text-align: center;
}
main section {
    text-align: center ;
}
#background {
    height: 725px;
    background-color: #d9c2a3;
}
body {
    background-color: #f7f0f0;
}
header {
    background-color: #293829;
}
a#logo_link img.logo {
    width: 72px;
}
#hero #hero-box img#hero-img {
    width: 100%;
}
#hero-msg h1.home-title {
    font-weight: bold;
    text-align: center;
} 
.book:hover, .join:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(214, 216, 185);
}
.msg h2 {
    color: rgb(255, 255, 255);
}
.msg p {
    color: rgb(255, 255, 255);
    /* padding-left: 60px; */
}
#logo_link {
    width: 80px;
}
main.home-grid section.msg {
    background-color: #575e56;
}
section.msg a.join, .button-box a.book {
    font-weight: bold;
    color: black;
    background-color: #d9c2a3;
    text-decoration: none;
}
footer {
    background-color: #575e56;
}
footer p, footer p a {
    color: #d9c2a3;
    text-decoration: none;
}
footer p a:hover {
    color: rgb(235, 235, 235);
    background-color: black;
    text-decoration: underline;
}
section.rivers-card h2 {
    text-transform: capitalize;
}