img {
    width: 15%;
    display:block;
    margin: 0 auto;
}

main {
    width: 25%;
    margin: 50px auto;
}
h1, h2{
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
}
h3{
    text-align: center;
    font-size: 200%;
    color: white;
}
h5{
    text-align: center;
}
div {
    border: 1px solide black;
    background-color: rgb(179, 110, 169);
    padding-top: 10px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}