img {
    width: 25%;
    display:block;
    margin: 0 auto;
}
body{
    background-color: pink;
}
main {
    width: 25%;
    margin: 50px auto;
}
h1, h2{
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
}
h3, h5{
    text-align: center;
}