body{
    background-color: rgb(103, 103, 116);
}
.top-graphic {
    width: 100%;
}
.{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 0 auto;
    margin-right: 0 auto;
}